@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-border: #222;
  --color-highlight: #e20813;
  --font-family: 'Martel Sans', sans-serif;
  --title-weight:600;
  --paragraph-weight: 400;
  --font-size-title: 1.6rem;
  --font-size-paragraph: 1.1rem;
}

header,main{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--color-white);
}
select, main, footer{
  background-color: var(--color-black);
}

header{
  width: 100%;
  height: auto;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  border-bottom: 0.5rem solid #222;
}
.img-gradient{
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.945) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0, 0, 0, 0.955) 100%);
}
.img-opacity{
  background: rgba(0,0,0,.4);
}
h2, h2{
  font-size: var(--font-size-paragraph);
  line-height: 1.5rem;
}
h1{
  font-size: var(--font-size-title);
  font-weight: var(--title-weight);
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

img{
  max-width: 100%;
    height: auto;
    border: 0;
}