.devices-video{
    position: absolute;
    margin-top: -10%;  
    width: 60%;
}

.devices-image{
    position: relative;
    z-index: 2;
    width: 100vw;
}

@media screen and (min-width: 550px) and (max-width: 949px) {
    .devices-video{
        width: 50%;
    }
  }

  @media screen and (min-width: 950px) and (max-width: 1450px) {
    .devices-video{
        width: 25%;
        margin-top: -5%;
    }
    .devices{
        display: flex;
    }
  }