.faq-cross {
    position: absolute;
    right: 1em;
    top: 40%;
    height: 1em;
    width: 1em;
    filter: invert(100%);
    transform: rotate(-45deg);
}

details[open] .faq-cross {
    transform: rotate(0deg);
    transition: transform .3s ease, opacity .2s ease;
}

details[open] p {
    background: #303030;
    padding: 1rem;
}

.faq-bottom {
    border-bottom: 0.5rem solid #222;
    padding-bottom: 3rem;
}

summary {
    position: relative;
    list-style: none;
    display: block;
    text-align: left;
    background: #303030;
    padding: 1rem;
    border-top: 0.4rem solid #000;
    cursor: pointer;
}


@media screen and (min-width: 950px) and (max-width: 1450px) {
    .faq-bottom {
        padding: 0 10rem;
    }
}

@media screen and (min-width: 1450px) {
    .faq-bottom {
        padding: 0 15rem;
    }
}