.second-video{
    position: absolute;    
    width: 80%;
}

.second-image{
    position: relative;
    z-index: 2;
    width: 100vw;
}
.second-animate {
    border-bottom: 8px solid #222;
    padding-bottom: 3rem;
}