@media screen and (min-width: 950px) {
    .young-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .young {
        text-align: left;
    }
}